:root {
    --color-brown: rgba(65, 50, 16, 0.914);
    --color-brown-transparent: rgba(65, 50, 16, 0.188);
    --color-orange: orange;
    --color-primary-bg: antiquewhite;
    --color-primary-black: #0B1215;
    --box-shadow-button: 3px 3px 4px var(--color-brown);
    --box-shadow-container: 3px 3px 15px var(--color-brown-transparent);
    --font-family-fancy: Georgia, 'Times New Roman', Times, serif;
    --font-family-primary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-family-secondary: monospace;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-primary-black);
}

h1, h2, h3, h4 {
    font-family: var(--font-family-fancy);
}

body {
    font-size: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.website-title {
    text-align: center;
    margin: 48px 0;
}

.website-title h1 {
    font-family: var(--font-family-primary);
    margin: 24px 0 0;
}

.font-secondary {
    font-family: var(--font-family-secondary);
}

.main-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    margin: 48px 16px;
}

.course-container {
    width: 360px;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--color-primary-bg);
    box-shadow: var(--box-shadow-container);
}

ul.course-list {
    list-style: none;
    padding: 0 0 0 16px;
}

ul.course-list li {
    margin: 0 0 8px;
}

ul.course-list li:hover {
    color: var(--color-brown);
    font-weight: 600;
}

.recipe-page-container {
    display: flex;
    flex-direction: column;
}

.back-button {
    padding: 8px 24px;
    margin: 16px 0 16px 16px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow-button);
}

.recipe-container {
    border: 3px solid var(--color-brown);
    border-radius: 10px;
    background-color: var(--color-primary-bg);
    max-width: 800px;
    padding: 24px;
    margin: 32px auto;
    box-shadow: var(--box-shadow-container);
}

.recipe-img-container {
    width: 280;
    height: 280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.recipe-img {
    justify-content: center;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: var(--box-shadow-container);
}

.serving, .cooking-time span{
    font-family: var(--font-family-fancy);
    font-weight: 500;
    margin: 0 0 8px;
}

.cooking-time span {
    padding: 0 24px 0 0;
}

.recipe-note {
    margin: 10px auto;
    font-style: italic;
}

.ingredients, .instructions {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ingredients input, .instructions input {
    justify-content: flex-start;
    float: left;
}

.ingredients label, .instructions label {
    margin: 0 0 0 24px;
    display: block;
}

/* Footer */
footer {
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    margin: 48px auto 0;
    border-top: 1px solid var(--color-brown-transparent);
}

.footer-container p, .footer-container a {
    font-family: var(--font-family-secondary);
    margin: 30px 0;
}

.footer-container a:hover {
    color: var(--color-brown);
    font-weight: bold;
    text-decoration: wavy underline var(--color-brown);
}